@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@400..700&display=swap");
.content {
  min-height: 80vh;
}
.panel-wrapper {
  width: 100%;
  min-height: 80vh;
  max-width: 1560px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: #f3f3ee;
  text-align: center;
  box-sizing: border-box;
  margin-top: 30px;
}

.hero-content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  padding-bottom: 0;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  color: #414141;
}

.hero-content h2 {
  margin: 1rem auto;
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
  color: #414141;
}

.hero-content p {
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
  color: #414141;
}

h3 {
  display: block;
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
  color: #414141;
}
.fallback-text {
  font-size: 2.5rem;
  font-family: "Dancing Script", cursive;
  color: #414141;
}

.hero-image {
  height: 200px;
}

.hero-image img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.5);
}

.cards-wrapper {
  width: 100%;
  min-height: 68vh;
  max-width: 1560px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  box-sizing: border-box;
}

.cards-container {
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
}

@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
  }

  .hero-content,
  .hero-image {
    max-width: 100%;
  }

  .hero-content h1 {
    font-size: 2.5rem;
  }

  .hero-content h3 {
    font-size: 1.5rem;
  }
}
