<li class="cardWrapper">
  <div class="card">
    <img [src]="recipe().imageURL" [alt]="recipe().recipeName" class="image" />
  </div>
  <div class="title">
    <h1 class="">{{ recipe().recipeName }}</h1>
    <h5>{{ recipe().recipeType }}</h5>
    <div class="border"></div>
    <div class="content">
      <p>
        {{ recipe().description | truncate : 100 }}
        <br />
      </p>
      <div class="button-link">
        <a [routerLink]="['/recipe', recipe()._id]">details</a>
      </div>
    </div>
  </div>
</li>
