<div class="backdrop" (click)="onCancel()"></div>
<dialog open>
  <h2>Add your comment</h2>
  <form (ngSubmit)="onSubmit()">
    <p>
      <textarea
        [(ngModel)]="commentText"
        name="comment"
        rows="3"
        placeholder="Write your comment here..."
        required
      ></textarea>
    </p>
    <p class="actions">
      <button type="button" (click)="onCancel()">Cancel</button>
      <button class="button" type="submit" [disabled]="!commentText.trim()">
        Submit
      </button>
    </p>
  </form>
</dialog>
